.main {
  min-height: 100vh;
  background: var(--background);
  color: var(--text);
  transition: 0.3s all;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 var(--space-sm);
}

.button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: var(--space-xs);
  cursor: url(../public/hover.svg), pointer;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-xxl) 0px 0px 0px;
}

@media (min-width: 800px) {

  .content {
    margin: 0px auto;
  }

  .info {
    margin: var(--space-xxl) 0px 0px 0px;
  }

}

@media (min-width: 1150px) {

  .content {
    margin: 0px auto;
  }

  .info {
    margin: var(--space-sm) 0px;
  }
}